@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Receptionist Dashboard";
}
<div class="cointainer">
    <!--Diaplay tempdatamessages if they exist-->
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    <div style="position:absolute;top: 10px;right:10px">
        <a href="@Url.Action("Logout", "Receptionist")" class="btn btn-danger">Logout</a>
    </div>
</div>

